<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Dropo User</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.elluminati.edelivery</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>edelivery</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb601526146700337</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.966521710311-aqlo8stjnv8umv36cvars1809knou758</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>601526146700337</string>
	<key>FacebookClientToken</key>
	<string>b9866cfbccad6defb0586ac0ca0bb72b</string>
	<key>FacebookDisplayName</key>
	<string>Edelivery</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>edelivery</string>
		<string>appemporio.net</string>
		<string>apiedeliverynew.appemporio.net</string>
		<string>edelivery.appemporio.net</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.twitter.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>You need to provide camera access to upload profile image using phone camera or you can directly upload from gallery.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need location permission to get your current location using which we display list of nearby store , without that we can't fetch list of store</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need location permission to get your current location using which we display list of nearby store , without that we can't fetch list of store</string>
	<key>NSLocationUsageDescription</key>
	<string>We need location permission to get your current location using which we display list of nearby store , without that we can't fetch list of store</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need location permission to get your current location using which we display list of nearby store , without that we can't fetch list of store</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You need to provide photo album access to upload profile image or you can directly upload using camera.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ClanPro_Medium.otf</string>
		<string>ClanPro_News.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Splash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>branch_app_domain</key>
	<string>edelivery.app.link</string>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_pnyWcgwcC9VoGtmFVGSkXaalwEmvh0Zj</string>
		<key>test</key>
		<string>key_test_hpw3hcFpC2NcJsiwIUSRtlheutkuaZ7w</string>
	</dict>
</dict>
</plist>
