<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>

        <!-- Open links from app to browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Dial call -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>

        <!-- Mail -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="*" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.dropo.Edelivery"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:name="com.dropo.SplashScreenActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="edelivery" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edelivery.app.link"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edelivery.appemporio.net"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="webappedeliverynew.appemporio.net"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="apiedeliverydemo.appemporio.net"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropo.service.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.dropo.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.HomeActivity"
            android:configChanges="keyboard|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_ANDROID_API_KEY" />

        <activity
            android:name="com.dropo.DeliveryLocationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.PaymentActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.ProfileActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.StoreProductActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dropo.ProductSpecificationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.CartActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.OrdersActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.DocumentActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.SettingActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/FB_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:permission="">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/FB_LOGIN_PROTOCOL_SCHEME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropo.CheckoutDeliveryLocationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.WalletHistoryActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.WalletDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.FavouriteStoreActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.AccountActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.ReviewActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.WelcomeActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.HelpActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" /> <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_pnyWcgwcC9VoGtmFVGSkXaalwEmvh0Zj" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_hpw3hcFpC2NcJsiwIUSRtlheutkuaZ7w" /> <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" /> <!-- Branch install referrer tracking -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.dropo.CreateCourierOrderActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.CourierOrderInvoiceActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.ChatActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.dropo.FavouriteAddressActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_user" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="edelivery2020" />

        <activity
            android:name="com.dropo.NotificationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.dropo.PaystackPaymentActivity" />
        <activity
            android:name="com.dropo.OrderDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>